*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image:radial-gradient(#66b8db,#3881a0,#154255);
    font-family: "Nothing You Could Do";
    font-weight: 200;
    overflow: hidden;
    font-size: 40px;
}

#box{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    padding:15%;
}

/*for pg 2*/
#box2{
    display:flexbox;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding:15%;
}
/**/

section{
    text-align: center;
}

/*PAGES*/
.page{
color: #002a6161;
text-transform: uppercase;
font-size: 180px;
}

/*for all pgs*/
/*referenced from:https://jwoakley.github.io/projectTwoExamples/kimberly/index.html*/
#faded {
    animation-name: faded;
    animation-delay: 1.2s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes faded{
    from {
        position: relative;
        top: 0px;
    }
    to {
        position: relative;
        top: -80px;
        font-size: 40px;
    }
}

#tears {
    animation-name: tears;
    animation-delay: 4s;
    animation-direction:normal;
    animation-duration: 6s;
    animation-fill-mode:backwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
@keyframes tears {
    from {
        opacity: 0;
    }
    to {
        opacity: 12;
    }
}

/*referenced from: https://jwoakley.github.io/projectTwoExamples/kimberly/index.html and https://jwoakley.github.io/projectTwoExamples/donovan/index.html*/
strong {
    font-style: normal;
    animation-name: pulse;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse{
    50% {
        color: #002a61;
        text-shadow: 0px 0px 10px;
    }

    100% {
        color: #002a6161;
        text-shadow: none;   
    }
}   

/*referenced from: https://www.cssportal.com/css-animated-text-generator/ */
#cry {
    color:antiquewhite;
    animation-name: cry;
    animation-duration: 5s;
    animation-delay: 2s; 
    animation-iteration-count:1;
    }

@keyframes cry {  
  100%{
    letter-spacing: normal;
  }  
  70%, 50%{
    letter-spacing: 20px;
  }
}


/*animation for 'fooled' 2nd pg*/
/*referenced from: https://www.cssportal.com/css-animated-text-generator/ */
svg {
	font-family: "Nothing You Could Do", sans-serif;
	width: 100%; height: 100%;
    text-transform: uppercase;
    font-size: 80px;
}
svg text {
	animation: stroke 6s infinite alternate-reverse;
	stroke-width: 2;
    stroke: #A00000;
}
@keyframes stroke {
	0%   {
		fill: rgba(204,52,8,0); stroke: rgba(160,0,0,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
        font-size: 50px;
	}
	70%  {fill: rgba(204,52,8,0); stroke: rgba(160,0,0,1); }
	80%  {fill: rgba(204,52,8,0); stroke: rgba(160,0,0,1); stroke-width: 3; }
	100% {
		fill: rgba(204,52,8,1); stroke: rgba(160,0,0,0);
		stroke-dashoffset: -75%; stroke-dasharray: 50% 0; stroke-width: 0;
        font-size: 175px;
	}
}

.wrapper {background-color:none};

/*animation for last pg*/
/*referenced from: https://jwoakley.github.io/projectTwoExamples/zanett/index.html */
#box2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding:15%;
}

#letterT{
    color: #66b8db00;
    position:absolute;
    top: 300px;
    left: 150px;
    animation-name: through;
    animation-duration: 3.5s;
    animation-delay: 1000ms;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

#letterH1{
    color: #66b8db00;
    position: absolute;
    top: 280px;
    left: 320px;
    animation-name: through;
    animation-duration: 3.8s;
    animation-delay: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

#letterR{
    color: #66b8db00;
    position: absolute;
    top:300px;
    left: 500px;
    animation-name: through;
    animation-duration: 4s;
    animation-delay: 2000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#letterO{
    color: #66b8db00;
    position: absolute;
    top: 290px;
    left: 650px;
    animation-name: through;
    animation-duration: 4.3s;
    animation-delay: 2500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#letterU{
    color: #66b8db00;
    position: absolute;
    top: 320px;
    left: 800px;
    animation-name: through;
    animation-duration: 4.6s;
    animation-delay: 3000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#letterG{
    color: #66b8db00;
    position: absolute;
    top: 300px;
    left: 990px;
    animation-name: through;
    animation-duration: 5.1s;
    animation-delay: 3500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#letterH2{
    color: #66b8db00;
    position: absolute;
    top: 280px;
    left: 1100px;
    animation-name: through;
    animation-duration: 5.4s;
    animation-delay: 4000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#speccharacter{
    color: #66b8db00;
    position: absolute;
    top: 290px;
    left: 1250px;
    animation-name: through;
    animation-duration: 5.4s;
    animation-delay: 4000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes through {
    100% {
        color:red;
        opacity: 1;
        font-size: 140px;
    }
}

/*footer*/
.foot{
    text-align: right;
}