*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #66b8db;
    font-family: "Nothing You Could Do";
    font-weight: 200;
}

#box{
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content: center;
padding:15%;
}

section{
    margin:30px;
    text-align: center;
}

/*PAGES*/
.page{
color: #002a6161;
text-transform: uppercase;
font-size: 180px;
}

/*page animations*/
#faded {
    animation-name: faded;
    animation-delay: 1.2s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes faded{
    from {
        position: relative;
        top: 0px;
    }
    to {
        position: relative;
        top: -80px;
        font-size: 70px;
    }
}

#tears {
    animation-name: tears;
    animation-delay: 4s;
    animation-direction:normal;
    animation-duration: 6s;
    animation-fill-mode:backwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
@keyframes tears {
    from {
        opacity: 0;
    }
    to {
        opacity: 12;
    }
}

strong {
    font-style: normal;
    animation-name: pulse;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse{
    50% {
        color: #002a61;
        text-shadow: 0px 0px 10px;
    }

    100% {
        color: #002a6161;
        text-shadow: none;   
    }
}   

/*animation for last pg*/
#box2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding:15%;
}

#letterT{
    color: antiquewhite;
    position: absolute;
    top: 300px;
    left: 190px;
    animation-name: through;
    animation-duration: 1s;
    animation-delay: 1000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#letterH1{
    color: antiquewhite;
    position: absolute;
    top: 400px;
    left: 300px;
    animation-name: through;
    animation-duration: 1s;
    animation-delay: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

#letterR{
    color: antiquewhite;
    position: absolute;
    top:500px;
    left: 470px;
    animation-name: through;
    animation-duration: 1s;
    animation-delay: 2000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#letterO{
    color:antiquewhite;
    position: absolute;
    top: 600px;
    left: 620px;
    animation-name: through;
    animation-duration: 1s;
    animation-delay: 2500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#letterU{
    color:antiquewhite;
    position: absolute;
    top: 500px;
    left: 770px;
    animation-name: through;
    animation-duration: 1s;
    animation-delay: 3000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#letterG{
    color:antiquewhite;
    position: absolute;
    top: 400px;
    left: 1000px;
    animation-name: through;
    animation-duration: 1s;
    animation-delay: 3500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#letterH2{
    color: antiquewhite;
    position: absolute;
    top: 320px;
    left: 1150px;
    animation-name: through;
    animation-duration: 1s;
    animation-delay: 4000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes through {
    0% {
        opacity: 0;
        font-size: 48px;
    }
    100% {
        color:red;
        opacity: 1;
        font-size: 200px;
    }
}



